@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.home-content{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 60px;
    
}


.content-container{
    z-index: 1;
    color: white;
}

.content-container h1{
    font-family:'Poppins', sans-serif;
    font-size: 4rem;
    margin-top: 1rem;
}
