.playground-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh; 
    overflow: hidden;
}

.background-camera{
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.main-camera{
    z-index: 1;
    width: 70vw;
    height: auto;
    object-fit: contain;
}